* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

.page {
    min-height: 100vh;
}

#city {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    #map_obj {
        margin-top: -4vh;
        scale: .98;
    }
}