* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

.page {
    min-height: 80vh;
}

#city {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map_obj  {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    #map_obj {
        margin-top: -4vh;
        -webkit-transform: scale(.98);
        transform: scale(.98);
    }
}