* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map path:hover {
    fill: #a9a9a9 !important;
}

body {
    overflow-y: hidden;
}

#map {
    margin-top: 5vh;
    width: 100vw;
    height: 65vh;
}

@media screen and (min-width: 768px) {
    #city {
        position: absolute;
        bottom:15rem;
        right:15rem;
    }

    #map {
        margin-top: 0;
        width: initial;
        height: initial;
    }
}
